.main-header{
    width: 100%;
    background: #FFD744;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 50px
}

.main-header div{
    width: 10%;
    display: inline-block;
    color: #2FB53D;
    vertical-align: middle;
}

.main-header .logout-link a{
    color: #2FB53D;
    text-decoration: none;
}

.main-header .logout-link{
    position: absolute;
    right: 0;
    top: 30%;
}

.main-header .logo img{
    width: 55%;
    min-width: 51px;
    min-height: 29px;
}

.main-header .imp-text{
    margin-left: 1rem;

}

